<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
    <body>
        <div layout:fragment="content">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Image</th>
                        <th>Dénomination</th>
						<th>Marque</th>
                        <th>Prix (€)</th>
                        <th>Processeur</th>
                        <th>Écran (pouces)</th>
                        <th>Date d'achat</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="achat : ${achatList}">
                        <td th:text="${achat.id}"></td>
                        <td><img width="80" th:src="'/images/' + ${achat.ordinateur.image}" alt="Image ordinateur"></td>
                        <td th:text="${achat.ordinateur.denomination}"></td>
						<td th:text="${achat.ordinateur.marque.nom}">
                        <td th:text="${achat.ordinateur.prix}"></td>
                        <td th:text="${achat.ordinateur.processeur}"></td>
                        <td th:text="${achat.ordinateur.ecran}"></td>
                        <td th:text="${#dates.format(achat.dateAchat, 'dd/MM/yyyy')}"></td>
                    </tr>
                </tbody>
            </table>
            <a href="/afficher-ordinateurs" class="btn btn-secondary">Retour au catalogue</a>
        </div>
    </body>
</html>
