<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template" >
    <body>
        <div layout:fragment="content">
            <table>
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Image</th>
                  <th>Dénomination</th>
                  <th>Prix (€)</th>
                  <th>Processeur</th>
                  <th>Écran</th>
                  <th>RAM</th>
                  <th>Lien</th>
				  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                  <tr th:each="ordinateur:${ordinateurList}">
                    <td th:text="${ordinateur.id}"></td>
                    <td><img width="80" th:src="'/images/' + ${ordinateur.image}"></td>
                    <td th:text="${ordinateur.denomination}"></td>
                    <td th:text="${ordinateur.prix}"></td>
                    <td th:text="${ordinateur.processeur}"></td>
                    <td th:text="${ordinateur.ecran}"></td>
                    <td th:text="${ordinateur.vive}"></td>
                    <td><a th:href="${ordinateur.lien}" target="_blank">Lien vers le site</a></td>
					<td><a th:href="'/afficher-ordinateur/' + ${ordinateur.id}" class="btn btn-info">Détail</a></td>
					<td th:if="${session.role != null}"><a th:href="'/acheter/'+ ${ordinateur.id}" class="btn btn-danger">Ajouter au panier</a></td>
                  </tr>
              </tbody>
            </table> 
        </div>
    </body>
</html>
