<form method="POST" action="/creer-ordinateur-validation" enctype="multipart/form-data">
	
	<div>
		<label for="denomination">Dénomination : </label>
		<input type="text" id="denomination" name="denomination" required>
	</div>
	
	<div>
		<label for="prix">Prix : </label>
		<input type="number" id="prix" name="prix" step="0.01" required>
	</div>
	
	<div>
		<label for="ecran">Taille de l'écran (en pouces) : </label>
		<input type="number" id="ecran" name="ecran" step="0.1" required>
	</div>
	
	<div>
		<label for="processeur">Processeur : </label>
		<input type="text" id="processeur" name="processeur" required>
	</div>
	
	<div>
		<label for="vive">Mémoire vive (en Go) : </label>
		<input type="number" id="vive" name="vive" required>
	</div>
	
	<div>
		<label for="lien">Lien : </label>
		<input type="url" id="lien" name="lien">
	</div>
	
	<div>
		<label for="image">Image : </label>
		<input type="file" id="image" name="image" accept="image/*">
	</div>
	
	<div>
	       <label for="marqueId">Marque : </label>
	       <select id="marqueId" name="marqueId" required>
	           <option value="" disabled selected>Sélectionnez une marque</option>
	           <option th:each="marque : ${marques}" th:value="${marque.id}" th:text="${marque.nom}"></option>
	       </select>
	   </div>
	
	<input type="submit" value="Ajouter" name="form_ajouter">
	
</form>
