<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"  >
<div  th:fragment="barre-navigation">
	<ul>
		<li>
			<a  href="/accueil">Accueil</a>
		</li>
		<li>
			<a  href="/afficher-ordinateurs">Catalogue</a>
		</li>
		<li  th:if="${session.id  !=  null}">
			<a  href="/afficher-panier">Panier</a>
		</li>
		<li  th:if="${session.id  !=  null}">
			<a  href="/afficher-achat">Achat</a>
		</li>
		<li>
			<a  href="/creer-compte">Créer un compte</a>
		</li>

		<li th:if="${session.role == 'administrateur'}">
		<a href="/creer-ordinateur">Créer ordinateur </a>
		</li>
		
		<li th:if="${session.id == null}">
			<a href="/login">Se connecter</a>
		</li>
		<li th:if="${session.id != null}">
			<a href="logout">Se déconnecter</a>
		</li>
	</ul>
</div>
</html>